* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px, 10/16 = 62.5% */
  height: 100%;
  width: 100%; }

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  min-height: 100vh; }

.heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
  font-family: "Oswald", sans-serif; }

.header-main__nav-wrapper {
  align-items: center;
  background-color: #26282A;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 112rem;
  padding: .7rem 0;
  position: relative; }

.header-main__logo img {
  max-width: 10rem; }

.header-main__menu li {
  display: inline-block;
  margin: 0;
  padding: 0 1rem; }
  .header-main__menu li a {
    border-bottom: 1px solid transparent;
    cursor: pointer;
    font-size: 1.7rem;
    letter-spacing: 1px;
    line-height: 2.2rem;
    padding-bottom: 3px;
    transition: all 0.4s;
    text-decoration: none; }
    .header-main__menu li a:link, .header-main__menu li a:visited {
      color: #fff; }
    .header-main__menu li a:hover {
      border-bottom: 1px solid #fff; }
