* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px, 10/16 = 62.5% */
  height: 100%;
  width: 100%; }

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  min-height: 100vh; }

.siteContainer {
  background-color: #213E8F;
  position: relative;
  height: 100%;
  width: 100%; }

.heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
  font-family: "Raleway", sans-serif; }

.heading-1 {
  font-size: 3.8rem;
  font-weight: 200;
  line-height: 1.2; }

.header-main {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("../../img/hero-bkg.jpg");
  background-position: unset;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh; }
  .header-main__sticky {
    position: fixed;
    right: 0;
    transition: all 0.5s;
    top: 0;
    left: 0;
    z-index: 10; }
  .header-main__nav-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 112rem;
    padding: .7rem 0; }
  .header-main__logo img {
    opacity: 0.9;
    max-width: 10rem; }
  .header-main__menu li {
    display: inline-block;
    margin: 0;
    padding: 0 1rem; }
    .header-main__menu li a {
      border-bottom: 1px solid transparent;
      cursor: pointer;
      font-size: 1.7rem;
      letter-spacing: 1px;
      line-height: 2.2rem;
      padding-bottom: 3px;
      transition: all 0.4s;
      text-decoration: none; }
      .header-main__menu li a:link, .header-main__menu li a:visited {
        color: #fff; }
      .header-main__menu li a:hover {
        border-bottom: 1px solid #fff; }
  .header-main__hero-wrapper {
    height: 60vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%; }
    .header-main__hero-wrapper--hero-bkg {
      background-image: url("../../img/hero-front.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 60rem;
      position: absolute;
      top: -4rem;
      width: 100%; }
    .header-main__hero-wrapper--scene {
      margin-left: 11.1vw;
      margin-top: 15rem;
      width: 78vw; }
    .header-main__hero-wrapper--title {
      color: #fff;
      letter-spacing: 2px;
      margin-bottom: 20rem;
      width: 60%; }
    .header-main__hero-wrapper--content {
      color: #fff;
      font-size: 1.8rem;
      font-weight: 200 !important;
      letter-spacing: 1.6px;
      margin-top: 11rem;
      width: 50%; }
    .header-main__hero-wrapper--btnMain {
      margin-top: 23rem; }
      .header-main__hero-wrapper--btnMain__btnPortfolio, .header-main__hero-wrapper--btnMain__btnCta {
        background-color: #FDB927;
        border: 1px solid #213E8F;
        color: #213E8F;
        font-size: 1.7rem;
        font-weight: 400;
        letter-spacing: 1.2px;
        padding: 1rem 2.5rem;
        text-decoration: none;
        text-transform: uppercase; }
        .header-main__hero-wrapper--btnMain__btnPortfolio:not(:last-child), .header-main__hero-wrapper--btnMain__btnCta:not(:last-child) {
          margin-right: 3rem; }

.another-section {
  margin: auto;
  max-width: 112rem; }
