@charset "UTF-8";

// COLORS
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-h: #dde9f0;
$color-grey-light-p: #e4e1e1;

$color-grey-dark-1: #b4b4b4;
$color-grey-dark-2: #999;
$color-grey-dark-3: #747474;

$color-primary: #213E8F;
$color-secondary: #FDB927;
$color-thirdly: #26282A;
$color-white: #fff;
$color-black: #000;

// SOCIAL MEDIA COLORS
$linkedin-light: #00a0dc;
$linkedin: #0077b5;
$twitter: #00aced;
$instagram: #bc2a8d;

// FONT VARIABLES
$default-font-size: 1.6rem;
$font-primary: 'Fira Sans', sans-serif;
$font-display: 'Raleway', sans-serif;

// GRID VARIABLES
$grid-width: 112rem;

// HELPER CLASSES
.mb-xsm { margin-bottom: 1rem; }
.mb-sm { margin-bottom: 2rem; }
.mb-md { margin-bottom: 3rem; }
.mb-lg { margin-bottom: 4rem; }
.mb-hg { margin-bottom: 8rem; }
.mt-xsm { margin-top: 1rem; }
.mt-sm { margin-top: 2rem; }
.mt-md { margin-top: 3rem; }
.mt-lg { margin-top: 4rem; }
.mt-hg { margin-top: 8rem; }

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;    // 1200px
$bp-large: 62.5em;    // 1000px
$bp-medium: 50em;     // 800px
$bp-small: 37.5em;    // 600px