// COLORS
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-h: #dde9f0;
$color-grey-light-p: #e4e1e1;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-primary: #213E8F;
$color-secondary: #FDB927;
$color-thirdly: #26282A;
$color-white: #fff;
$color-black: #000;

// SOCIAL MEDIA COLORS
$linkedin-light: #00a0dc;
$linkedin: #0077b5;
$twitter: #00aced;
$instagram: #bc2a8d;

// FONT VARIABLES
$default-font-size: 1.6rem;
$font-primary: 'Fira Sans', sans-serif;
$font-display: 'Raleway', sans-serif;

// GRID VARIABLES
$grid-width: 112rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 3rem;
$gutter-horizontal: 2rem;
