.footer-section {
  background-color: $color-thirdly;
  height: 100%;
  
  &__container {
    color: $color-grey-dark-3;
    display: flex;
    font-size: 1.7rem;
    justify-content: space-between;
    padding-top: 9rem;
    position: relative;
  }

  &__made {
    margin-right: 1.5rem;
  }

  &__heart {
    position: absolute;
    color: red;
    font-size: 2rem;
    animation: pulse 1s infinite;
    left: 8.5rem;
    bottom: .1rem;
  }

  &__author-name {
    margin-left: 1.5rem;
  }
  
  // MOBILE BREAKPOINT
  @include responsive(phone) {
    &__container {
      flex-direction: column;
      padding-top: 5rem;
      text-align: center;

      & :first-child {
        margin-bottom: 1rem;
        position: relative;
      }
    } 
    
    &__heart {
      left: 25.2rem;
      bottom: -.2rem;
    }
  } // @include responsive(phone)
} // .footer-section

@keyframes pulse {
  0% {
    font-size: 2rem;
  }

  15% {
    font-size: 2.25rem;
  }

  25% {
    font-size: 2.15rem;
  }

  35% {
    font-size: 2.25rem;
  }

  100% {
    font-size: 2rem;
  }
} // @keyframes pulse
