.slider-section {
  background-color: $color-secondary;

  &__box {
    color: $color-white;
    margin: 0 auto;
    text-align: center;

    &-slide {
      max-height: 40rem;
      padding: 1.5rem;
      
      & img {
        border: 5px solid rgba($color-primary, .7);
        width: 100%;
      }
    }
  }

  & .slick-next,
    .slick-prev {
      background-color: $color-black;
      height: 4rem;
      transition: all .4s ease-out;
      width: 4rem;
      z-index: 1;
    }
  
  & .slick-next:hover,
    .slick-prev:hover {
      background-color: $color-primary;
    }

  & .slick-next {
    right: 0;
  }
  
  & .slick-prev {
    left: 0;
  }

  & .slick-dots li button {
    height: 1rem;
    width: 2.8rem;
    background-color: rgba($color-black, .3);
  }
}