.btn {
  color: $color-secondary;
  cursor: pointer;
  display: inline-block;
  font-size: 1.7rem;
  border: solid 1px $color-secondary;
  letter-spacing: 1.5px;
  line-height: 2.2rem;
  padding: 1rem 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;

  &,
  &:link,
  &:visited {
    color: $color-secondary;
  }

  &:active,
  &:focus {
    box-shadow: 0 .5rem 1rem rgba($color-white, 1);
  }

  &:hover {
    color: $color-primary;
    background-color: $color-secondary;
  }
}