.header-main {
  
  & header {
    background-color: #26282A;  // temp background-color
  }

  &__sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.5s;
  }
  
  &__nav-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: $grid-width;
    padding: .7rem 0;
    position: relative;
  }

  &__logo {

    & img {
      max-width: 10rem;
    }
  }

  &__menu {

    & li {
      display: inline-block;
      margin: 0;
      padding: 0 1rem;
      
      & a {
        border-bottom: 1px solid transparent;
        cursor: pointer;
        font-size: 1.7rem;
        letter-spacing: 1px;
        line-height: 2.2rem;
        padding-bottom: 3px;
        transition: all 0.4s;
        text-decoration: none;

        &:link,
        &:visited {
          color: $color-white;
        }

        &:hover {
          border-bottom: 1px solid #fff;
        }
      }

    }
  }
}