@charset "UTF-8";

.header-main {
  background-attachment: fixed;
  background-image: linear-gradient(rgba($color-black, .2), rgba($color-black, .7)), url("../../img/hero-bkg.jpg");
  background-position: unset;
  background-repeat: no-repeat;
  background-size: cover;
  height: 68vh;
  
  & header {
    // background-color: $color-thirdly;  // TEMP background-color
  }
  
  &__sticky {
    position: fixed;
    right: 0;
    transition: all 0.5s;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  &__nav-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: $grid-width;
    padding: .7rem 0;
  }

  &__logo {

    & img {
      opacity: 0.9;
      max-width: 10rem;
    }
  }

  &__menu {

    & li {
      display: inline-block;
      margin: 0;
      padding: 0 1rem;
      
      & a {
        border-bottom: 1px solid transparent;
        cursor: pointer;
        font-size: 1.7rem;
        letter-spacing: 1px;
        line-height: 2.2rem;
        padding-bottom: 3px;
        transition: all 0.4s;
        text-decoration: none;

        &:link,
        &:visited {
          color: $color-white;
        }

        &:hover {
          border-bottom: 1px solid $color-white;
        }
      } // & a
    } // & li
  } // &__menu

  &__hero-wrapper {
    height: 60vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    
    &--hero-bkg {
      background-image: url("../../img/hero-front.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 65vh;
      position: absolute;
      top: -3.8rem;
      width: 100%;
    } // &--hero-bkg

    &--container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
    }

    &--title {
      color: $color-white;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 20rem;   
      width: 60%;  
    }

    &--content {
      color: $color-white;
      font-size: 1.8rem;
      font-weight: 200 !important;
      letter-spacing: 1.6px;
      margin-top: 11rem;
      width: 50%;
    }

    &--btnMain {
      margin-top: 23rem;

      &__btnPortfolio, &__btnCta {
        background-color: $color-secondary;
        border: 1px solid $color-secondary;
        color: $color-primary;
        font-size: 1.7rem;
        font-weight: 400;
        letter-spacing: 1.2px;
        padding: 1rem 2.5rem;
        text-decoration: none;
        text-transform: uppercase;
        
        &:not(:last-child) {
          margin-right: 3rem;
        }
      } // &__btnPortfolio, &__btnCta
    } // &--btnMain
  } // &__hero-wrapper

  @include responsive(mobile-menu) {
    &__trigger {
      background-color: $color-white;
      display: block;
      height: 3.5rem;
      position: absolute;
      right: 1rem;
      transition: all .4s;
      top: 1.5rem;
      width: 3.5rem;
      z-index: 20;
    }

    & .main-overlay {
      background-color: rgba($color-black, .5);
      bottom: 0;
      display: none;
      left: 0;
      position: fixed;
      right: 0;
      transition: all .4s;
      top: 0;
      z-index: 19;
    }

    & .main-overlay::after {
      background-color: $color-primary;
      content: "";
      display: block;
      height: 3.5rem;
      position: fixed;
      right: 1rem;
      top: 1.5rem;
      width: 3.5rem;
      z-index: 30;
    }

    &__menu {
      background-color: #131313;
      bottom: 0;
      left: 0;
      max-width: 300px;
      position: fixed;
      transform: translate3d(-100%, 0, 0);
      transition: all .4s;
      top: 0;
      width: 100%;
      z-index: 40;
    }

    &__menu li {
      display: block;
      margin-top: 2rem;
      padding: 0;
      padding-bottom: 2rem;
    }

    &__menu li a {
      font-size: 1.8rem;
      line-height: 2.3rem;
    }

    &__menu li a:hover {
      border-color: transparent;
    }

    body.menu-is-active &__menu {
      display: block;
      padding: 0 1.5rem;
      transform: translate3d(0, 0, 0);
    }

    body.menu-is-active & .main-overlay {
      display: block;
    }

    body.menu-is-active &__trigger {
      display: none;
    }
  } // @include responsive(mobile-menu)

  @include responsive(phone) {
    &__hero-wrapper {

      &--scene {
        // margin-top: 10rem;
        // width: 100%;
      }
  
      &--content {
        margin-top: 9rem;
      }

      &--btnMain {
        margin-top: 25rem;
      }
    }
  } //  @include responsive(phone)
  
} // header-main 