.portfolio-section {
	background-color: $color-white !important;

	&__container {

	}

	&__item {

	}

	&__item--1 {

	}

	&__item--2 {

	}

	&__item--3 {

	}

	&__item--4 {

	}

	&__item--5 {

	}

	&__item--6 {

	}

	&__item--7 {

	}

	&__item--8 {

	}

	&__item--9 {

	}

	&__img {
		height: auto;
		width: 100%;
	}
}