.portfolio-section {
	background-color: $color-white !important;

	&__container {

	}

	&__item {
		opacity: 0;
		transition: all .4s;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	&__item--1 {

	}

	&__item--2 {

	}

	&__item--3 {

	}

	&__item--4 {

	}

	&__item--5 {

	}

	&__item--6 {

	}

	&__item--7 {

	}

	&__item--8 {

	}

	&__item--9 {

	}

	&__img {
		height: auto;
		width: 100%;
	}
}

.fade-in {
	border-radius: 100%;
	opacity: 1;
}