@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px, 10/16 = 62.5% */
  height: 100%;
  width: 100%;
}

body { 
  background-color: $color-primary;
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.siteContainer {
  background-color: $color-primary;
  position: relative;
  height: 100%;
  width: 100%;
}
