@charset "UTF-8";

%heading {
  font-family: $font-display;
}

.heading-1 {
  @extend %heading;
  font-size: 3.9rem;
  font-weight: 200;
  line-height: 1.2;
}

.heading-2 {
  @extend %heading;
  font-size: 3.5rem;
  font-weight: 200;

  &--white {
    color: $color-grey-light-h;
    text-transform: uppercase;
  }
}

.heading-3 {
  @extend %heading;
  font-size: 2rem;
  font-weight: 200;

  &--white {
    color: $color-grey-light-h;
  }
}

.heading-4 {
  @extend %heading;
}

.heading-5 {
  @extend %heading;
}

.heading-6 {
  @extend %heading;
}
