%heading {
  font-family: $font-display;
}

.heading-1 {
  @extend %heading;
  font-size: 3.8rem;
  font-weight: 200;
  line-height: 1.2;
}

.heading-2 {
  @extend %heading;
}

.heading-3 {
  @extend %heading;
}

.heading-4 {
  @extend %heading;
}

.heading-5 {
  @extend %heading;
}

.heading-6 {
  @extend %heading;
}
